<div class="col-6">
    <button [routerLink]="['/authors']" class="btn btn-link">Home</button>
    <p>Add a new quotable author:</p>
    <form (submit)="new_author()">
        <p>Name:
            <input type="text" name="name"  class="form-control " [(ngModel)]="add_data.name">
        </p>
        <a [routerLink]="['/authors']" class="btn btn-primary">Cancel</a>
        <input type="submit" value="Submit"  class= "btn btn-primary ml-5">
    </form>
    <p *ngIf="error" class="mt-5 text-danger">{{error}}</p>
</div>